
html{
    padding-top: 100px;
    padding-bottom: 100px;

    color:#78b7b4;
    background-color: #002d2b;

    width: 50%;
    vertical-align: middle;
    margin: auto;
}

h1, h2, h3, h4, h5, h6{
    color:#C4DFE6;
}

a{
    color: #95F1E8;
}

a:visited{
    color:#78b7b4;
}

a:hover{
    color: white;
}