
#intro{
    padding-top: 15%;
    padding-left: 20%;
    padding-right: 20%;
    padding-bottom: 35%;

    color:white;
    font-size: 90%
}

#intro_h1{
    color: #78b7b4;
}

#name{
    font-size: 300%;
    color:#95F1E8;
}

#university{
    color: orange;
    font-size: 110%
}

#hello{
    color: red;
    font-size: 200%
} 

#major{
    color: #C4DFE6;
    font-size: 110%;
}