
body{
    width: 100%;
}

div#jump_sidebar{
    min-width: 100px;
    width: 13%;
    height: 100vh;
    position: fixed;

    padding-top: 5%;

    text-align: center;
    background-color: #011E1A;
}

#jump_sidebar a.jump{
    text-decoration: none;
}

#jump_sidebar a.jump div{
    padding: 20%;

    font-size: 200%;
    color:#C4DFE6;
}

#jump_sidebar a.jump:hover div{
    background-color:#C4DFE6;
    color: #002d2b;
}

div#main_body{
    width: 70%;
    vertical-align: middle;
    
    margin: auto;
    padding-left: 11%
}

#main_body div#intro{
    height: 100vh;
    padding-top: 25%;

    font-size: 90%;
    text-align: center;
}

#intro h1#intro_h1{
    color: #78b7b4;
}

#intro_h1 span#hello{
    font-size: 190%;
    color: red;
} 

#intro_h1 span#name{
    font-size: 270%;
    font-style: italic;
    color:#C4DFE6;
}

#intro_h1 span#major{
    font-size: 110%;
    color: #C4DFE6;
}

#intro_h1 span#university{
    font-size: 110%;
    color: #db6d06;
}

#main_content{
    margin-top: 10%;
    margin-bottom: 10%; 
}

.main_section{
    padding: 10%;
}

.main_section > p{
    width: 80%;
    margin: 5%;
}

a#my_github{
    font-size: 105%;
    color: #C4DFE6;
} 

#projects > div{
    margin: 7% 5%;
}

.project{
    width: 60%;

    margin: 3%;
    padding: 5%;

    border: 10px double #78b7b4;
    /* box-shadow:
        inset 0 0 0 4px #002d2b,
        inset 0 0 0 8px #C4DFE6; */
    border-radius: 13%;
}

#contact_me  span.contact_name{
    font-size: 120%;
    color: #C4DFE6; 
}