
body{
    font-family: 'EB Garamond', serif;
    
    padding-bottom: 100px;

    width: 70%;
    vertical-align: middle;
    margin: auto;

    color:#78b7b4;
    background-color: #002d2b;
}

h1, h2, h3, h4, h5, h6{
    color:#C4DFE6;
}

a{
    color: #95F1E8;
}

a:visited{
    color:#78b7b4;
}

a:hover{
    color: white;
}