
::-webkit-scrollbar {
    width: 0px;
}

::-webkit-scrollbar-track {
    background: #002d2b; 
}

::-webkit-scrollbar-thumb {
    background: #95F1E8; 
}

::-webkit-scrollbar-thumb:hover {
    background: #C4DFE6; 
}

body {
    font-family: 'EB Garamond', serif;
    color:#6fc7c3;
    background-color: #000000;
    /* calc([minimum size] + ([maximum size] - [minimum size]) * ((100vw - [minimum viewport width]) / ([maximum viewport width] - [minimum viewport width]))); */
    font-size: calc(12px + (28 - 12) * ((100vw - 300px) / (2100 - 300))); 
}

a {
    color: #95F1E8;
}

a:visited {
    color:#6fc7c3;
}

a:hover {
    color: white;
}

.boldFont {
    font-weight: bold;
}

.txtColorTitle {
    color: #C4DFE6;
}

.txtColorSub {
    color: #95F1E8;
}

.txtColorPlain {
    color: #6fc7c3;
}

.txtColorBurntOrange {
    color: #db6d06;
}
