
::-webkit-scrollbar {
    width: 0px;
}

::-webkit-scrollbar-track {
    background: #002d2b; 
}

::-webkit-scrollbar-thumb {
    background: #95F1E8; 
}

::-webkit-scrollbar-thumb:hover {
    background: #C4DFE6; 
}

body {
    font-family: 'EB Garamond', serif;
    color:#78b7b4;
    background-color: #002d2b;
    /* calc([minimum size] + ([maximum size] - [minimum size]) * ((100vw - [minimum viewport width]) / ([maximum viewport width] - [minimum viewport width]))); */
    font-size: calc(8px + (25 - 8) * ((100vw - 300px) / (2100 - 300))); 
}