
body {
    width: 100%;
}

#main_body{
    vertical-align: middle;
    margin: auto;
    float: right;
}

#intro{
    height: 70vh;
    padding-top: 32vh;
    font-size: 90%;
    text-align: center;
}

#intro h1#intro_h1{
    color: #78b7b4;
    text-shadow: 1px 1px #C4DFE6;
}

#intro_h1 span#hello{
    font-size: 190%;
    color: red;
} 

#intro_h1 span#name{
    font-size: 270%;
    font-style: italic;
    color:#C4DFE6;
}

#intro_h1 span#major{
    font-size: 110%;
    color: #C4DFE6;
}

#intro_h1 span#university{
    font-size: 110%;
    color: #db6d06;
}

#main_content{
    margin: 10% 0; 
}

.main_section{
    min-height: 70vh;
    padding: 10%;
}

.main_section > p{
    width: 80%;
    margin: 5%;
}

a#my_github, .contact {
    color: white;
    text-decoration: none;  
} 

a#my_github p, .contact p {
    width: 50%;

    vertical-align: middle;
    margin: auto;
    margin-top: 10%;
    padding: 2%;

    text-align: center;
    
    font-size: 120%;
    font-weight: bold;
    
    background-color: #78b7b4;
}

a#my_github p:hover, .contact:hover p{
    background-color: #002d2b;
    border: 2px solid #78b7b4;
} 

#about_me {
    margin-top: 30vh;
}

#projects_heading {
    padding: 10% 0%;
}

.project{
    width: 70%;
    vertical-align: center;
    margin: 0% auto 15% auto;
    padding: 10% 5%;

    border: 5px solid #78b7b4; 
    border-radius: 13%;
}

.project:hover {
    border-width: 7px;
    border-color: #95F1E8;
    padding: 12%    8%;
}

.project > p.type, .project > p.date {
    font-size: 80%;
    color: #95F1E8;
    padding: 2px;
    margin: 2px;
}

#contact_me {
    min-height: 50vh;
}


#contact_me  span.contact_name{
    font-size: 120%;
    color: #C4DFE6; 
}

.contact p {
    font-size: 110%;
    font-weight: normal;
}

.contact_heading {
    font-weight: bold;
}

@media only screen and (max-width: 1100px) and (orientation:landscape){
    #intro{
        padding-top: 27vh; 
    }
}

@media only screen and (max-width: 700px) and (orientation:portrait){
    #intro{
        padding-top: 30vh; 
    }

    #intro_h1 span#hello{
        font-size: 150%;
    } 

    #intro_h1 span#name{
        font-size: 200%;
    }

}

@media only screen and (max-width: 768px) {
    #intro{
        padding-top: 25vh; 
        font-size: 80%;
    }

    #intro_h1 span#hello{
        font-size: 170%;
    } 

    #intro_h1 span#name{
        font-size: 210%;
    }
}

@media only screen and (max-width: 480px) {
    #intro{
        padding-top: 25vh; 
        font-size: 60%;
    }

    #intro_h1 span#hello{
        font-size: 90%;
    } 

    #intro_h1 span#name{
        font-size: 110%;
    }

    #intro_h1 span#major{
        font-size: 80%;
    }

    #intro_h1 span#university{
        font-size: 80%;
    }
}

