
body {
    width: 100%;
}

#main_body{
    vertical-align: middle;
    margin: auto;
    float: right;
}


#main_body div#intro{
    height: 100vh;
    padding-top: 28vh;
    font-size: 90%;
    text-align: center;
}

#intro h1#intro_h1{
    color: #78b7b4;
    text-shadow: 1px 1px #C4DFE6;
}

#intro_h1 span#hello{
    font-size: 190%;
    color: red;
} 

#intro_h1 span#name{
    font-size: 270%;
    font-style: italic;
    color:#C4DFE6;
}

#intro_h1 span#major{
    font-size: 110%;
    color: #C4DFE6;
}

#intro_h1 span#university{
    font-size: 110%;
    color: #db6d06;
}

#main_content{
    margin-top: 10%;
    margin-bottom: 10%; 
}

.main_section{
    min-height: 100vh;
    padding: 15%;
}

.main_section > p{
    width: 80%;
    margin: 5%;
}

a#my_github, .contact {
    color: white;
    text-decoration: none;  
} 

a#my_github p, .contact p {
    width: 50%;

    vertical-align: middle;
    margin: auto;
    margin-top: 10%;
    padding: 2%;

    text-align: center;
    
    font-size: 120%;
    font-weight: bold;
    
    background-color: #78b7b4;
}

a#my_github p:hover, .contact:hover p{
    background-color: #002d2b;
    border: 2px solid #78b7b4;
} 

.project{
    width: 70%;
    vertical-align: center;
    margin: 20% auto 30% auto;
    padding: 10%;
    padding: 5%;

    border: 5px solid #78b7b4; 
    border-radius: 13%;
}

.project:hover {
    border-width: 7px;
    border-color: #95F1E8;
    padding: 8%;
}

.project > p.type, .project > p.date {
    font-size: 80%;
    color: #95F1E8;
    padding: 2px;
    margin: 2px;
}

#contact_me {
    min-height: 50vh;
}


#contact_me  span.contact_name{
    font-size: 120%;
    color: #C4DFE6; 
}

.contact p {
    font-size: 90%;
    font-weight: normal;
}

.contact_heading {
    font-weight: bold;
}

@media only screen and (max-width: 800px) {
    
    #main_body div#intro{
        padding-left: 10%;
        padding-right: 10%;
        font-size: 70%;
    }

    #intro_h1 span#hello{
        font-size: 150%;
    } 

    #intro_h1 span#name{
        font-size: 180%;
    }

    #intro_h1 span#major{
        font-size: 150%;
    }

    #intro_h1 span#university{
        font-size: 150%;
    }
    
    a#my_github p, .contact p {
        width: 30vw;
        font-size: 100%;
    }
}