
body {
    width: 100%;
    margin: 0;
    padding: 0;
}

#contents.hidden {
    visibility: hidden;
    position: fixed;
    pointer-events: none;
}

#main_body{
    vertical-align: middle;
    margin: auto;
    float: right;
}

#intro{
    background-image: url("../images/robot_car_team_45.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
    height: 70vh;
    padding-top: 24vh;
    font-size: 90%;
    text-align: center;
}

#intro h1#intro_h1{
    color: #78b7b4;
    text-shadow: 1px 1px #C4DFE6;
}

#intro_h1 span#hello{
    font-size: 190%;
    color: red;
} 

#intro_h1 span#name{
    font-size: 270%;
    font-style: italic;
    color:#C4DFE6;
}

#intro_h1 span#major{
    font-size: 110%;
    color: #C4DFE6;
}

#intro_h1 span#university{
    font-size: 110%;
    color: #db6d06;
}

#main_content{
    margin: 10% 0; 
}

.main_section{
    min-height: 70vh;
    padding: 10%;
}

.main_section > p{
    width: 80%;
    margin: 5%;
}

a#my_github, .contact {
    clear: both;
    color: white;
    text-decoration: none;  
} 

a#my_github p, .contact p {
    clear: both;
    border: 2px solid white;
    width: 50%;

    vertical-align: middle;
    margin: auto;
    margin-top: 10%;
    padding: 2%;

    text-align: center;
    
    font-size: 120%;
    font-weight: bold;
    
    background-color: #78b7b4;
}

a#my_github p:hover, .contact:hover p{
    clear: both;
    background-color: #002d2b;
    border: 2px solid #78b7b4;
} 

#about_me {
    margin-top: 30vh;
    min-height: 100vh;
    clear: both;
}

img {
    float: left;
    opacity: .7;
    width: 35%;
    padding-right: 5% ;
}

img:hover {
    opacity: 1;
}

#about_me div {
    padding: 5%;
}

#about_me p {
    margin-right: 10%;
    max-width: 60;
}

#projects_heading {
    padding: 10% 0%;
}

.project{
    width: 70%;
    vertical-align: center;
    margin: 0% auto 5% auto;
    padding: 3% 5%;

    border: 5px solid #78b7b4; 
    border-radius: 13%;
}

.project:hover {
    border-width: 7px;
    border-color: #95F1E8;
    padding:    4%;
}

.project p.date {
    font-size: 80%;
    color: #95F1E8;
    padding: 2px;
    margin: 2px;
}

.project li {
    float: left;
    font-size: 80%;
    list-style-type: none;
    text-align: center;
    min-width: 100px;
    width: 15%;
    padding: 1%;
    margin: 1%;
    background-color: #78b7b4;
    color: #002d2b;
}

.project li:hover {
    background-color: #95F1E8;
}

.project p:last-child {
    margin-top: 5%;
    padding-top: 5%;
    clear: both;
}

#contact_me {
    min-height: 50vh;
}


#contact_me  span.contact_name{
    font-size: 120%;
    color: #C4DFE6; 
}

.contact p {
    font-size: 120%;
    font-weight: normal;
    width: 75%;
    margin: 5% auto;
}

.contact_heading {
    font-weight: bold;
}

@media only screen and (max-width: 1100px) and (orientation:landscape){
    #intro{
        padding-top: 19vh;
        font-size: 85%; 
    }

    #intro_h1 span#hello{
        font-size: 170%;
    } 

    #intro_h1 span#name{
        font-size: 220%;
    }

    .project li {
        font-size: 85%;
    }
}

@media only screen and (max-width: 800px) {
    img {
        float: none;
        width: 75%;
        padding-top: 15%;
    }
    #intro{
        padding-top: 14vh; 
        font-size: 72%;
    }

    #intro_h1 span#hello{
        font-size: 170%;
    } 

    #intro_h1 span#name{
        font-size: 200%;
    }

    #intro_h1 span#major{
        font-size: 100%;
    }

    #intro_h1 span#university{
        font-size: 100%;
    }

    .project li {
        font-size: 72%;
    }
}

@media only screen and (max-width: 600px) {
    #intro{
        font-size: 67%;
    }

    #intro_h1 span#hello{
        font-size: 150%;
    } 

    #intro_h1 span#name{
        font-size: 190%;
    }

    #intro_h1 span#major{
        font-size: 90%;
    }

    #intro_h1 span#university{
        font-size: 90%;
    }

    .project li {
        font-size: 67%;
    }
}

@media only screen and (max-width: 520px) {
    #intro{
        padding-top: 12vh; 
        font-size: 60%;
    }

    #intro_h1 span#hello{
        font-size: 90%;
    } 

    #intro_h1 span#name{
        font-size: 110%;
    }

    #intro_h1 span#major{
        font-size: 80%;
    }

    #intro_h1 span#university{
        font-size: 80%;
    }

    .project li {
        font-size: 60%;
        min-width: 80px;
    }
}

@media only screen and (max-width: 1000px) and (orientation:portrait){
    #intro{
        padding-top: 31vh; 
    }

    #intro_h1 span#hello{
        font-size: 150%;
    } 

    #intro_h1 span#name{
        font-size: 200%;
    }

}