                                            
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hidden {
    visibility: hidden;
    position: fixed;
    pointer-events: none;
}

.clickable_div {
    cursor: pointer;
}

img {
    opacity: .7;
}

img:hover {
    opacity: 1;
}

#postloader_contents{
    vertical-align: middle;
    margin: auto;
    padding: auto;
}

#landing_intro{
    display: table;
    background-image: url("../images/robot_car_team_45_16x9.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    text-align: center;
}

#landing_intro > div {
    display: table-cell;
    vertical-align: middle;
    color: #78b7b4;
    font-size: 200%;
}

#intro_text {
    text-shadow: 1px 1px white;
    padding: 3%;
}

#intro_text #name {
    color: #95F1E8;
    text-shadow: 1px 1px #78b7b4;
    font-size: 180%;
}

#intro_text #additional_details {
    font-size: 75%;
}

#intro_text #major, #intro_text #interest {
    color: #db6d06;
}

#quick_contact {
    max-width: 50%;
    margin: auto;
    border: 1px solid #C4DFE6;
    color: #C4DFE6;
    font-size: 70%;
}

#quick_contact:hover {
    border: 1px solid #95F1E8;
    color: #95F1E8;
}

/* 


#jump_sidebar {
    float: left;
    position: fixed;
    width: calc(60px + (220 - 60) * ((100vw - 300px) / (2100 - 300)));
    height: 100vh;

    border-right: 2px solid #78b7b4;
    background-color: #002d2b;
}

#jump_sidebar > #jumps {
    width: 100%;
    position: absolute;
    top: 50%;
    height: 50%;    
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    display: table;
}

#jumps > .jump {
    display: table-row;
    cursor: pointer;
    color: #C4DFE6;
}

#jumps > .jump:hover {
    background:#C4DFE6;
    color: #002d2b;
}

#jumps > .jump > div {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    font-size: calc(9px + (34 - 9) * ((100vw - 300px) / (2100 - 300)));
}

#main_body {
    background: black;



    padding: 10%;
}

.project_img {
    width: 50%;
    height: auto;
} */

/* .heading {
    margin: 10% 0%;
}

.main_section{
    padding: 30% 0%;
}

.main_section > p{
    width: 80%;
    margin: 5%;
}

a#my_github, .contact {
    clear: both;
    color: white;
    text-decoration: none;  
} 

a#my_github p, .contact p {
    clear: both;
    border: 2px solid white;
    width: 50%;

    vertical-align: middle;
    margin: auto;
    margin-top: 10%;
    padding: 1% 2%;

    text-align: center;
    
    font-size: 120%;
    font-weight: bold;
    
    background-color: #78b7b4;
}

a#my_github p:hover, .contact:hover p{
    clear: both;
    background-color: #002d2b;
    border: 2px solid #78b7b4;
}

a#my_github p:hover, .contact:hover p{
    clear: both;
    background-color: #002d2b;
    border: 2px solid #78b7b4;
} 

#about_me {
    margin-top: 30vh;
    min-height: 100vh;
    clear: both;
}


#about_me p {
    margin-right: 10%;
    max-width: 60;
}

#portrait {
    float: left;
    width: 35%;
    padding-right: 5% ;
}


#projects_heading {
    padding: 10% 0%;
}

.project{
    width: 70%;
    vertical-align: center;
    margin: 0% auto 5% auto;
    padding: 3% 5%;

    border: 5px solid #78b7b4; 
    border-radius: 5%;
}

.project:hover {
    border-color: #95F1E8;
}

.project p.date {
    font-size: 80%;
    color: #95F1E8;
    padding: 2px;
    margin: 2px;
}

.project li {
    float: left;
    font-size: 80%;
    list-style-type: none;
    text-align: center;
    min-width: 100px;
    width: 15%;
    padding: 1%;
    margin: 1%;
    background-color: #78b7b4;
    color: #002d2b;
}

.project li:hover {
    background-color: #95F1E8;
}

.project p:last-child {
    margin-top: 5%;
    padding-top: 5%;
    clear: both;
}

#contact_me {
    min-height: 100vh;
    background: white;
}


#contact_me  span.contact_name{
    font-size: 120%;
    color: #C4DFE6; 
}

.contact p {
    font-size: 120%;
    font-weight: normal;
    width: 75%;
    margin: 5% auto;
}

.contact_heading {
    font-weight: bold;
}  */