                                            
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hidden {
    opacity: 0;
    visibility: hidden;
    position: fixed;
    pointer-events: none;
}

.clickable_div {
    cursor: pointer;
}

img {
    opacity: .7;
}

img:hover {
    opacity: 1;
}

#postloader_contents{
    vertical-align: middle;
    margin: auto;
    padding: auto;
}

.fadeIn {
    animation: fadeIn 1s ease-in;
}

#nav_sidebar {
    float: left;
    position: fixed;
    width: calc(45px + (120 - 45) * ((100vw - 300px) / (2100 - 300)));
    height: 100vh;

    border-right: 2px solid #78b7b4;
    background-color: #002d2b;
}

#nav_sidebar > #nav_jumps {
    width: 100%;
    position: absolute;
    top: 50%;
    height: 50%;    
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    display: table;
}

#nav_jumps > .jump {
    display: table-row;
    cursor: pointer;
    color: #C4DFE6;
}

#nav_jumps > .jump:hover {
    background:#C4DFE6;
    color: #002d2b;
}

#nav_jumps > .jump > div {
    display: table-cell;
    vertical-align: middle;
    padding: calc(4px + (8 - 4) * ((100vw - 300px) / (2100 - 300)));
    text-align: center;
    font-size: calc(10px + (18 - 10) * ((100vw - 300px) / (2100 - 300)));
}

#main_body {
    float: right;
}

#landing_intro{
    display: table;
    background-image: url("../images/robot_car_team_45_16x9.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
    text-align: center;
}

#landing_intro > div {
    display: table-cell;
    vertical-align: middle;
    color: #78b7b4;
    font-size: 200%;
}

#intro_text {
    text-shadow: 1px 1px white;
    padding: 3%;
}

#intro_text #name {
    color: #95F1E8;
    text-shadow: 1px 1px #78b7b4;
    font-size: 180%;
}

#intro_text #additional_details {
    font-size: 75%;
}

#intro_text #major, #intro_text #interest {
    color: #db6d06;
}

#intro_caption{
    font-size: 80%;
    right: 0;
    bottom: 0;
    clear: both;
    position: absolute;
    margin: 1%;
    width: 60%;
}

#quick_contact {
    max-width: 50%;
    margin: auto;
    border: 1px solid #C4DFE6;
    color: #C4DFE6;
    font-size: 70%;
}

#quick_contact:hover {
    border: 1px solid #95F1E8;
    color: #95F1E8;
}

#main_contents {
    padding: 10%;
}

#main_contents > div {
    margin: 5% auto 7% auto;
}

#main_contents > div > .content_heading {
    font-size: 200%;
    color: #C4DFE6;
    margin: 5% auto;
}

#about_me #pic_text {
    padding: 5%;
    display: inline-block;
}

#pic_text #me_portrait{
    width: 30%;
    float: left;
    margin-right: 10%;
}

#pic_text #me_text {
    padding: 5%;
    width: 80%;
}

#me_text #university {
    color: #db6d06;
}

#about_me #conclusion {
    color: #95F1E8;
    width: 100%;
    text-align: center;
}

#my_github {
    text-align: center;
}

#my_github > i{
    margin: 3%;
    color: #78b7b4;
    border: 1px solid #78b7b4;
    width: 30%;
    padding: 2%;
    text-align: center;
}

#my_github:hover > i{
    color: #95F1E8;
    border: 1px solid #95F1E8;
}

#my_projects .project {
    width: 100%;
    padding: 2%;
    border: 4px solid #78b7b4;
    border-radius: 1%;
    display: inline-block;
}

#other_projects > div {
    padding: 2%;
    border: 3px solid #C4DFE6;
    width: 33%;
    float: left;
}

#my_projects .project:hover {
    background: black;
    border: 4px solid #95F1E8 !important; 
    transform: scale(1.1);
}

.project_title {
    color: #C4DFE6;
    font-size: 150%;
}
.project > .main_info > div {
    display: flexbox;
}
.project .project_image {
    width: 33%;
    height: calc(100px + (450 - 100) * ((100vw - 300px) / (2100 - 300)));
    background: black;
    
    margin: 1% 2%;
    border: 3px solid #C4DFE6;
    text-align: center; 
    white-space: nowrap;    
    float: right;

    transition: transform .2s; 
}

.project_image > div {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.project_image > img {
    max-width: 95%;
    max-height: 95%;
    height: auto;
    width: auto;
    vertical-align: middle;
}

.project .main_info {
    padding: 2%;
    margin: 2%;
}

.project .main_info > div {
    padding: 1% 0%;
}


.project_image > img:hover {
    transform: scale(1.5);
    border: 2px solid #78b7b4;
}

@media only screen and (max-width: 750px){
    #other_projects > div {
        width: 50%;
    }
    .project .project_image {
        width: 50%;
    }
}
@media only screen and (max-width: 300px){
    #other_projects > div {
        width: 100%;
    }
    .project .project_image {
        width: 100%;
    }
}

.skills_used > ul > li {
    float: left;
    font-size: 80%;
    list-style-type: none;
    text-align: center;
    width: calc(40px + (200 - 40) * ((100vw - 300px) / (2100 - 300)));;
    padding: 1%;
    margin: 1%;
    background-color: #78b7b4;
    color: #002d2b;
}

.skills_used > ul > li:hover {
    background-color: #95F1E8;
}

.links {
    clear: left;
}

#contact_me {
    clear: left;
    padding-top: 10%;
}

#contact_me > #contact_email {
    border: 2px solid #78b7b4;
    color: #78b7b4;
    width: 50%;
    padding: 2%;
    margin: 0% 10%;
    text-align: center;
}

#contact_me > #contact_email:hover {
    border-color: #95F1E8;
    color: #95F1E8;
}