                                            
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hidden {
    visibility: hidden;
    position: fixed;
    pointer-events: none;
}

img {
    opacity: .7;
}

img:hover {
    opacity: 1;
}

#main_body{
    vertical-align: middle;
    margin: auto;
    float: right;
}

#intro{
    display: table;
    background-image: url("../images/robot_car_team_45_16x9.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    font-size: 90%;
    text-align: center;
}

#intro > div {
    display: table-cell;
    vertical-align: middle;
}

#intro > div > #intro_h1{
    margin-left: auto;
    margin-right: auto;
    color: #78b7b4;
    text-shadow: 1px 1px #C4DFE6;
}

#intro_h1 span#hello{
    font-size: 190%;
    color: red;
} 

#intro_h1 span#name{
    font-size: 270%;
    font-style: italic;
    color:#C4DFE6;
}

#intro_h1 span#major{
    font-size: 110%;
    color: #C4DFE6;
}

#intro_h1 span#university{
    font-size: 110%;
    color: #db6d06;
}

#jump_sidebar {
    float: left;
    position: fixed;
    width: 15vw;
    height: 100vh;

    border-right: 2px solid #78b7b4;
    background-color: #002d2b;
}

#jumps {
    width: 100%;
    position: absolute;
    top: 50%;
    height: 50%;    
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    display: table;
}

.jump {
    display: table-row;
    cursor: pointer;
    color: #C4DFE6;
}

.jump:hover {
    background:#C4DFE6;
    color: #002d2b;
}

.jump > div {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    font-size: calc(10px + (35 - 14) * ((100vw - 300px) / (1600 - 300)));
}

.heading {
    margin: 10% 0%;
}

#main_body {
    padding: 10%;
}

.main_section{
    padding: 30% 0%;
}
/* 
.link_button {
    clear: both;
    color: white;
    text-decoration: none;  
}

.link_button p {
    clear: both;
    border: 2px solid white;
    width: 50%;

    vertical-align: middle;
    margin: auto;
    margin-top: 10%;
    padding: 4% 2%;

    text-align: center;
    
    font-size: 120%;
    font-weight: bold;
    
    background-color: #78b7b4;
}

.main_section > p{
    width: 80%;
    margin: 5%;
}

a#my_github, .contact {
    clear: both;
    color: white;
    text-decoration: none;  
} 

a#my_github p, .contact p {
    clear: both;
    border: 2px solid white;
    width: 50%;

    vertical-align: middle;
    margin: auto;
    margin-top: 10%;
    padding: 4% 2%;

    text-align: center;
    
    font-size: 120%;
    font-weight: bold;
    
    background-color: #78b7b4;
}

a#my_github p:hover, .contact:hover p{
    clear: both;
    background-color: #002d2b;
    border: 2px solid #78b7b4;
} 

#about_me {
    margin-top: 30vh;
    min-height: 100vh;
    clear: both;
}


#about_me p {
    margin-right: 10%;
    max-width: 60;
}

#headpic {
    float: left;
    width: 35%;
    padding-right: 5% ;
} */


/* 
.main_section > p{
    width: 80%;
    margin: 5%;
}

a#my_github, .contact {
    clear: both;
    color: white;
    text-decoration: none;  
} 

a#my_github p, .contact p {
    clear: both;
    border: 2px solid white;
    width: 50%;

    vertical-align: middle;
    margin: auto;
    margin-top: 10%;
    padding: 4% 2%;

    text-align: center;
    
    font-size: 120%;
    font-weight: bold;
    
    background-color: #78b7b4;
}

a#my_github p:hover, .contact:hover p{
    clear: both;
    background-color: #002d2b;
    border: 2px solid #78b7b4;
} 

#about_me {
    margin-top: 30vh;
    min-height: 100vh;
    clear: both;
}


#about_me p {
    margin-right: 10%;
    max-width: 60;
}

#headpic {
    float: left;
    opacity: .7;
    width: 35%;
    padding-right: 5% ;
}

#headpic:hover {
    opacity: 1;
} */



/* 








#projects_heading {
    padding: 10% 0%;
}

.project{
    width: 70%;
    vertical-align: center;
    margin: 0% auto 5% auto;
    padding: 3% 5%;

    border: 5px solid #78b7b4; 
    border-radius: 5%;
}

.project:hover {
    border-color: #95F1E8;
}

.project p.date {
    font-size: 80%;
    color: #95F1E8;
    padding: 2px;
    margin: 2px;
}

.project li {
    float: left;
    font-size: 80%;
    list-style-type: none;
    text-align: center;
    min-width: 100px;
    width: 15%;
    padding: 1%;
    margin: 1%;
    background-color: #78b7b4;
    color: #002d2b;
}

.project li:hover {
    background-color: #95F1E8;
}

.project p:last-child {
    margin-top: 5%;
    padding-top: 5%;
    clear: both;
}

#contact_me {
    min-height: 100vh;
    background: white;
}


#contact_me  span.contact_name{
    font-size: 120%;
    color: #C4DFE6; 
}

.contact p {
    font-size: 120%;
    font-weight: normal;
    width: 75%;
    margin: 5% auto;
}

.contact_heading {
    font-weight: bold;
} */