.hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

#preloader_window {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: 1s;
    z-index: 100;
}

#preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#preloader_canvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
}

#name_display {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;

    height: 90px;
    line-height: 90px;
    
    text-align: center;

    font-size: 70px;
    font-family: 'Permanent Marker', cursive;
    color:#95F1E8;
    text-shadow: 1px 1px #002d2b;
    
    z-index: 100000;
}

#name_display.show {
    animation: fadeIn 1s 1 normal ease-in-out;
}

#loader{
    position: absolute;

    top: 50%;
    left: 50%;
    width: 40px;
    height: 40px;

    transition: translate(-50%, -50%);

    box-sizing: border-box;
    border: 3px solid transparent;
    
    animation: animateBorder 3s alternate infinite ease-in-out;
    animation-delay: 1s;
    
    z-index: 10000;
}

#loader:before {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    content: '';

    background: #78b7b4;
    
    width: 0;
    height: 0;

    animation: animateBg 4s alternate infinite ease-in-out;
    animation-delay: 1s;
}

#loader.complete {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 1s, opacity 1s linear;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    70% {
        opacity: 1;
    }
}

@keyframes animateBorder {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    20% {
        transform: translate(-50%, -50%) rotate(90deg);
        border-left-color: white;
    }
    40% {
        transform: translate(-50%, -50%) rotate(180deg);
        border-left-color: #78b7b4;
        border-top-color: white;
    }
    60% {
        transform: translate(-50%, -50%) rotate(180deg);
        border-left-color: #78b7b4;
        border-top-color: #78b7b4;
        border-right-color: white;
    }
    80% {
        transform: translate(-50%, -50%) rotate(270deg);
        border-left-color: #78b7b4;
        border-top-color: #78b7b4;
        border-right-color: #78b7b4;
        border-bottom-color: white;
    }
    100% {
        transform: translate(-50%, -50%) rotate(360deg);
        border-left-color: #78b7b4;
        border-top-color: #78b7b4;
        border-right-color: #78b7b4;
        border-bottom-color: #78b7b4;
    }
}

@keyframes animateBg {
    0% {
        width: 0;
        height: 100%;
    }
    20% {
        width: 100%;
        height: 100%;
    }
    40% {
        width: 100%;
        height: 0;
    }
    60% {
        width: 0;
        height: 0;
    }
    80% {
        width: 100%;
        height: 0; 
    }
    100%{
        width: 100%;
        height: 100%;
    }
}