#preloader {
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    transition: 2s;
}

#preloader:before {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
}

#preloader.start:before {
    animation: animateColor 4s 1 ease-in-out;
    animation-delay: 1s;
}

#preloader.complete {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
} 

@keyframes animateColor {
    0%{
        background-color: black;
    }
    20%{
        background-color: #002d2b;
    }
    60%{
        background-color: #C4DFE6;
    }
    80%{
        background-color: #78b7b4;
    }
    100% {
        background-color: #002d2b;
    }
}

 #loader{
    position: absolute;

    top: 50%;
    left: 50%;
    width: 40px;
    height: 40px;

    transition: translate(-50%, -50%);

    box-sizing: border-box;
    border: 3px solid transparent;
    
    animation: animateBorder 4s alternate infinite ease-in-out;
    animation-delay: 1s;
    
    z-index: 10000;
}

#loader:before {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    content: '';

    background: #78b7b4;
    
    width: 0;
    height: 0;

    animation: animateBg 4s alternate infinite ease-in-out;
    animation-delay: 1s;
}

@keyframes animateBorder {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    20% {
        transform: translate(-50%, -50%) rotate(90deg);
        border-left-color: white;
    }
    40% {
        transform: translate(-50%, -50%) rotate(180deg);
        border-left-color: #78b7b4;
        border-top-color: white;
    }
    60% {
        transform: translate(-50%, -50%) rotate(180deg);
        border-left-color: #78b7b4;
        border-top-color: #78b7b4;
        border-right-color: white;
    }
    80% {
        transform: translate(-50%, -50%) rotate(270deg);
        border-left-color: #78b7b4;
        border-top-color: #78b7b4;
        border-right-color: #78b7b4;
        border-bottom-color: white;
    }
    100% {
        transform: translate(-50%, -50%) rotate(360deg);
        border-left-color: #78b7b4;
        border-top-color: #78b7b4;
        border-right-color: #78b7b4;
        border-bottom-color: #78b7b4;
    }
}

@keyframes animateBg {
    0% {
        width: 0;
        height: 100%;
    }
    20% {
        width: 100%;
        height: 100%;
    }
    40% {
        width: 100%;
        height: 0;
    }
    60% {
        width: 0;
        height: 0;
    }
    80% {
        width: 100%;
        height: 0; 
    }
    100%{
        width: 100%;
        height: 100%;
    }
}