
#jump_sidebar {
    min-width: 100px;
    width: 15vw;

    height: 100vh;
    position: fixed;

    padding-top: 20vh;

    text-align: center;
    background-color: black;

    float: left;
}

#jump_sidebar a.jump {
    text-decoration: none;
}

#jump_sidebar a.jump div{
    padding: 20%;

    font-size: 200%;
    color:#C4DFE6;


}

#jump_sidebar a.jump:hover div{
    background-color:#C4DFE6;
    color: #002d2b;
}

@media only screen and (max-width: 1000px) {
    #jump_sidebar {
        padding-top: 20vh;
    }
    #jump_sidebar a.jump div {
        font-size: 130%;
    }
}

@media only screen and (max-width: 1000px) and (orientation:landscape){
    #jump_sidebar {
        padding-top: 15vh;
    }
}

@media only screen and (max-width: 800px) and (orientation:portrait){
    #jump_sidebar {
        padding-top: 30vh;
    }
}

@media only screen and (max-width: 800px) and (orientation:landscape){
    #jump_sidebar {
        padding-top: 10vh;
    }

    #jump_sidebar a.jump div {
        font-size: 110%;
    }
}