
#jump_sidebar {
    width: 15vw;

    height: 100vh;
    position: fixed;

    padding-top: 22vh;

    text-align: center;
    background-color: black;

    float: left;
    border-right: 2px solid #78b7b4;
}

#jump_sidebar a.jump {
    text-decoration: none;
}

#jump_sidebar a.jump div{
    padding: 5vh 20%;

    font-size: 150%;
    color:#C4DFE6;
}

#jump_sidebar a.jump:hover div{
    background-color:#C4DFE6;
    color: #002d2b;
}

@media only screen and (max-width: 1200px){
    
    #jump_sidebar a.jump div {
        font-size: 140%;
    }
}

@media only screen and (max-width: 768px) {

    #jump_sidebar {
        min-width: 80px;
    }

    #jump_sidebar a.jump div {
        font-size: 100%;
    }
}

@media only screen and (max-width: 480px) {

    #jump_sidebar {
        min-width: 50px;
    }

    #jump_sidebar a.jump div {
        font-size: 50%;
    }
}