
#jump_sidebar {
    position: fixed;
    width: 15vw;
    height: 100vh;
    float: left;

    border-right: 2px solid #78b7b4;
    background-color: #002d2b;
}

#jumps {
    width: 100%;
    position: absolute;
    top: 50%;
    height: 50%;    
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    display: table;
}

.jump {
    display: table-row;
    cursor: pointer;
    color: #C4DFE6;
}

.jump:hover {
    background:#C4DFE6;
    color: #002d2b;
}

.jump > div {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    font-size: calc(10px + (35 - 14) * ((100vw - 300px) / (1600 - 300)));
}

/* #jump > div {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;

    height: 10px;
    line-height: 10px;

    text-align: center;
}

#jump a {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;

    
} */

/* #jump_sidebar a.jump {
    text-decoration: none;
}

#jump_sidebar p{
    min-width: 80%;
    max-width: 85%;
    vertical-align: center;
    margin: auto;

    padding: 5vh 0;

    font-size: 150%;
    color:#C4DFE6;
}

#jump_sidebar a.jump:hover div{
    background-color:#C4DFE6;
}

#jump_sidebar a.jump:hover p{
    color: #002d2b;
} */

/*
@media only screen and (max-width: 1200px){
    
    #jump_sidebar p {
        font-size: 140%;
    }
}

@media only screen and (max-width: 768px) {

    #jump_sidebar {
        min-width: 80px;
    }

    #jump_sidebar p{
        font-size: 100%;
    }
}

@media only screen and (max-width: 480px) {

    #jump_sidebar {
        min-width: 50px;
    }

    #jump_sidebar p {
        font-size: 50%;
    }
} */